.container {
        width: 389px;
        height: 460px;
        background-color: white;
        line-height: 13px;
        font-family: 'Padauk', sans-serif;
        margin: 0;
        background-size: cover; 

}

.header {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    padding: 7px;
}

  

.postimage {
   width: 100%;
   background-size: contain;
}

.icon {
    display: flex;
    margin:auto;
    padding: 7px;
    justify-content: space-between;
 
}

.title {
   margin: auto;
   padding-right: 70%;
   line-height: 0px;
   padding-top: 0px;

}

.bookmark {
    display: flex;
    margin: auto;
    padding-left: 65%;
}

.postcomment {
   
    padding: 7px;
}

.fa-html5 {

    padding-top: 10px;
   
}

.fa-ellipsis-v {

    padding-top: 5px;
}

.fa-heart {
    padding-right: 5px;
}
.fa-comment {
    padding-right: 5px;
}
